Arrays/test.ipynb
.vscode/settings.json
**.ipynb
**/.mypy_cache

.idea
__pycache__

# ignore the testing virtual environment and related folders
**Testing/
testing_env/
**/test
# ignore files generate from C++ or C programs
*.out
*.exe
